body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header{
    display: flex;
    justify-content: left;
    height: 50px;
    width: 100%;
}

.header img{
    height: 40px;
    margin: 20px 5px 0px  10px;
}
.main{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: calc(100vh - 80px);
    overflow: scroll;
    text-align: center;
}

.container img{
    height: 200px;
    width: ;
}